<div class="welcome">
  <h1>Welcome {{user}}</h1>
</div>

<div class="api post">
  <div class="req">
    <h1>Upload File</h1>

  </div>

  <div class="data">
    <h2>Data</h2>
    <label for="filename">File name</label>
    <input type="text" name="filename" [(ngModel)]="name">
    <br><br>
    <label for="file">Choose your file</label>
    <input #fileInput type="file" (change)="onFileSelected($event)" name="file">
    <br><br>
    <button (click)="uploadFile()">Upload</button>
  </div>

  <br><br>

</div>