<div class="signup">
    <div class="req">
      <h1>Sign Up</h1>
  
    </div>
  
    <div class="data">
      <h2>Admin Registration Form</h2>
      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="username">
      <br><br>
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="password">
      <br><br>
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" [(ngModel)]="firstname">
      <br><br>
      <label for="lastname">Last Name</label>
      <input type="text" name="lastname" [(ngModel)]="lastname">
      <br><br>
      <label for="address">Address</label>
      <input type="text" name="address" [(ngModel)]="address">
      <br><br>
      <label for="phoneNumber">Phone Number</label>
      <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber">
      <br><br>
      <button (click)="signUp()">signUp</button>
    </div>
  </div>