<div class="signup">
    <div class="req">
      <h1>Login</h1>
  
    </div>
  
    <div class="data">
      <form>
      <h2>User Login Form</h2>
      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="username">
      <br><br>
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="password">
      <br><br>
      <button class="btn btn-success" (click)="login()">Login</button>
    </form>
    </div>
  </div>